.top-bar-wrapper {
  width: 100vw;
  height: 50px;
  background-color: rgba(222, 222, 222, 0.87);
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-around;
}

.top-bar-title {
  font-family: "EB Garamond", serif;
  font-size: 24px;
  font-weight: 500;
  width: fit-content;
  min-width: 100px;
  letter-spacing: 0.05rem;
  color: rgb(31, 31, 31);
  padding: 10px;
}

.link {
  text-decoration: none !important;
}

.categories {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 9vw;
}

.single-category {
  color: rgba(72, 72, 72, 0.844);
  transition: 0.2s;
  font-size: 12px;
  letter-spacing: 0.1rem;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2vw;
  padding-right: 2vw;
}

.single-category:hover {
  transition: 0.3s;
  cursor: pointer;
  color: white;
  text-shadow: 0px 0px 10px rgb(174, 174, 174);
  background-color: rgba(130, 130, 130, 0.87);
}

.shopping-cart {
  width: 35px;
  height: auto;
}

.shopping-cart:hover {
  cursor: pointer;
}
