@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.App {
  text-align: center;
  text-decoration: none !important;
}

.products-grid {
  text-align: center;
  display: inline-grid;
  font-family: "Bebas Neue";
  grid-template-columns: 20vw 20vw 20vw 20vw;
  gap: 20px;
  padding: 110px;
}
